#search-results{

margin-top:20px;

}

.markdown-content{

animation:
fade .15s ease;

}

@keyframes fade
{
from{
opacity:0;
}

to{
opacity:1;
}
}

.markdown-content blockquote{

border-left:
4px solid var(--primary);

padding-left:16px;

margin:16px 0;

color:
var(--text-secondary);

}

.markdown-content ul,
.markdown-content ol{

padding-left:24px;

margin-bottom:16px;

}

.markdown-content hr{

border:none;

border-top:
1px solid var(--border);

margin:32px 0;

}
